@page "/"

<h1>Hello, CLIENT!</h1>

Welcome to your Client app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button @onclick="@HandleClickHello">Hello from Client</button>

<p>@responseMessage</p>