@page "/"

<h1>Hello, SERVER!</h1>

Welcome to your SERVER app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button @onclick="@HandleClickHello">Hello from server</button>

<p>@responseMessage</p>